<div class="container w-25 p-3 my-3 bg-dark text-white text-center"style="margin: 30em;">
<h5>Edit <%= @babies.name %></h5><br>

<form action="/babies/<%=@babies.id %>" method="POST">
  <label> Name </label><br>
  <input type="text" name="name" value="<%=@babies.name %>"required> </br>
 <br>
  <label> Age  </label><br>
  <input type="integer"step="1" name="age" value="<%=@babies.age %>"required> </br>
<br>
  <label> Gender </label><br>
  <input type="text" name="gender" value="<%=@babies.gender %>"required> </br>
  <br>
  <input type="submit" class="btn btn-success"style="margin: 2em;"value="Update">
  <br>
  
</form>
<form method="post" action="/babies/<%= @babies.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
 <input type="submit"class="btn btn-danger"value="Delete">
</form>
</div>