  
<h1>Edit <%= @babies.name %></h1>

<form action="/babies/<%=@babies.id %>" method="POST">
  <label> Baby Name </label>
  <input type="text" name="name" value="<%=@babies.name %>"> </br>

  <label> Baby Age </label>
  <input type="text" name="age" value="<%=@babies.age %>"> </br>

  <label> Baby Gender </label>
  <input type="text" name="gender" value="<%=@babies.gender %>"> </br>
  <input type="submit" value="Update">
</form>
