
<% @babies.each do |baby| %>
    <%= baby.name %><br>
    <%= baby.age %> <br>
    <%= baby.gender %> <br>
    <a href="/babies/<%=baby.id%>/edit">Edit</a>
    <form method="post" action="/babies/<%= @babies.id %>/delete">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete">
    </form>
    post button
    <br />
    <br />
  <% end %>

  <br>

  <a href="/babies/new">Add a Little One!</a>
