<%= @babies.height %><br />
  <%= @babies.weight %> <br />
  Baby: <a href="/babies/<%=@babies.baby.id%>"><%= @babies.baby.name %></a> <br />
  <a href="/babies/<%=@babies.id%>/edit">Edit</a>
  <br />
  <br />
