<%= @updates.height %><br />
  <%= @updates.weight %> <br />
  Baby: <a href="/updates/<%=@updates.baby.id%>"><%= @updates.baby.name %></a> <br />
  <a href="/updates/<%=@updates.id%>/edit">Edit</a>
  <br />
  <br />
