  
<h1>Edit Post</h1>

<form action="/posts/<%=@posts.id %>" method="PATCH">
  <label> Weight </label>
  <input type="text" name="weight" value="<%=@posts.weight %>"> </br>

  <label> Height </label>
  <input type="text" name="height" value="<%=@posts.height%>"> </br>

  <label> Summary </label>
  <input type="text" name="summary" value="<%=@posts.summary%>"> </br>

  <label> Baby </label>
  <select name="baby_id">
    <% current_user.babies.each do |baby| %>
      <option value=<%=baby.id %> <%= "selected" if baby.id==@posts.baby.id %> ><%= baby.name %></option>
    <% end %>
  </select>
<br>
  <input type="submit" value="Update Post">
  <br>
  <form method="post" action="/posts/<%= post.id %>/delete">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete Post">
    </form>
</form>
