<div class="container w-25 p-3 my-3 bg-dark text-white text-center"style="margin: 5em;"> 
<h5>Edit Post</h5>
<br>
<form action="/posts/<%=@posts.id %>" method="PATCH">
<label> Title </label><br>
<input type="text" name="title" placeholder="title"value="<%=@posts.title %>"> <br>
<br>
  <label> Weight </label><br>
  <input type="text" name="weight"placeholder="weight" value="<%=@posts.weight %>"> <br>
<br>
  <label> Height </label><br>
  <input type="text" name="height" placeholder="height"value="<%=@posts.height%>"> <br>
<br>
 <label> Summary </label><br>
 <input type="text" name="summary" placeholder="milestones"value="<%=@posts.height%>"> <br>

<br>
  <label> Baby </label><br><br>
  <% @babies.each do |baby| %>
    <input type="checkbox" name="baby_id" id="<%= baby.id %>"value="<%= baby.id %>"><%= baby.name %><br><br>
  <% end %>
<br>
  <input type="submit" class="btn btn-primary"value="Update Post">
  <br>
  <form method="post" action="/posts/<%= @posts.id %>/delete">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" class="btn btn-danger"value="Delete Post">
    </form>
</form>
