
<% @posts.each do |post| %>
  <h5> <%= post.baby.name if post.baby %></h5> <br>   
  <p> Title | <%= post.title %> </p> <br>
  <p>Height | <%=  post.height %></p><br>
 <p> Weight | <%=  post.weight %></p> <br>
  <p> Summary | <%= post.summary %></p> <br><br>

<a href="/posts/<%=post.id%>/edit" class="btn btn-primary">Edit</a><br>
<br>
<% end %>
<a href="/posts/new"class="btn btn-success"style="margin: 5em;">Create Post</a>
<br>
<br>
</div>

