
<% @posts.each do |post| %>
  <h1>Baby: <%= post.baby.name %></h1> <br>
  <h2> Title: <% post.title %> </h2> <br>
  <h2>Height:<%=  post.height %></h2><br>
 <h2> Weight:<%=  post.weight %></h2> <br>
  <h3> Summary:<%=   post.summary %></h3> <br>

<a href="/posts/<%=post.id%>/edit" class="btn btn-primary">Edit</a>

  <br />
  <br />
<% end %>

<br>
</div>
</div>
<a href="/posts/new">Create Post</a>