<%= @posts.weight %><br />
  <%= @posts.height %> <br />
  Baby: <a href="/posts/<%=@posts.baby.id%>"><%= @posts.baby.name %></a> <br />
  <a href="/posts/<%=@posts.id%>/edit">Edit</a>
  <br />
  <br />
